<li id="task-<%= task.id %>">
  <%= link_to gravatar_for(task.user, size: 50), task.user %>
  <span class="name"><%= link_to task.name, task_path(task) %></span><br>
  <%= link_to((image_tag task.picture.url), task_path(task.id), class: 'task-picture') if task.picture.url.present? %>
  <span class="introduction"><%= task.introduction %></span><br>
  <span class="timestamp">
    <%= time_ago_in_words(task.created_at) %>前に投稿
  </span>
  <span class="task-delete">
    <% if current_user.admin? || (current_user == task.user) %>
      <%= link_to "削除", task_path(task), method: :delete,
                        data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </span>
</li>

<script type="text/javascript">
  $('#dish_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('アップロードできる写真の最大サイズは5MBです。5MB以下の画像を選択してください');
    }
  });
</script>
