<% provide(:title, "#{@task.name}") %>
<% @comments  = @task.feed_comment(@task.id) %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1><%= @task.name %></h1>
    </div>
    <div class="col-md-4 show-favorite">
      <%= link_to((image_tag @task.picture.thumb400.url), task_path(@task.id), class: 'task-picture') if @task.picture.url.present? %>
      <%= render 'users/favorite_form' %>
    </div>
    <div class="col-md-8">
      <ul>
        <li class="task_introduction"><%= @task.introduction %></li>
        <li class="comment">
          <%= render "comments/feed_comments" %>
          <%= render "comments/new" %>
        </li>
      </ul>
    </div>
    <div class="task-edit col-md-12">
      <% if current_user == @task.user %>
        <%= link_to "編集", edit_task_path(@task), class: 'edit-link' %>
      <% end %>
      <% if current_user.admin? || (current_user == @task.user) %>
        <%= link_to "削除", task_path(@task), method: :delete,
                       data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </div>
  </div>
</div>
